{% extends "template.html" %}

{% load el_pagination_tags %}
{% load tags %}
{% load filters %}

{% block head %}
{% endblock %}

{% block ptitle %}
  Candidates : Task {{ task.id }} : STDWeb
{% endblock %}

{% block content %}

  {% if not task %}
    <p>未找到任务</p>
  {% else %}

    <h2>
      {{ task.original_name }}
    </h2>

    {% if task.title %}
    <div class="fst-italic mb-2">
      {{ task.title }}
    </div>
    {% endif %}

    <div>
      <a class="btn btn-light" role="button" href="{% url 'tasks' id=task.id %}">
        <span class="fa fa-chevron-left me-2"></span>
        Back to task page
      </a>
    </div>

    <!-- Transient candidates -->
    {% if candidates %}
      <hr>
      <h3>
        {{ candidates|length }} 个暂现源候选体{% if not 'simple' in filename %}（差分（模板相减）图）{% endif %}
        <span class="span-help-popover float-end" title="差分图中的暂现源候选体">
          <p>
            Cutouts show the target position in the original image, template, template convolved with matching kernel which is used for actual subtraction, difference image, detection footprint, and the mask. The latter helps identifying possible problems due to template bad regions, cosmic rays or saturation, while the footprint displays the spread of the pixels above detection threshold useful for understanding what exactly triggered the detection.
          </p>
          <p>
            Cutout 上方的测量值对应候选体位置在差分图中的孔径测光，使用与上面光度定标相同的参数，因此所得星等（若测得）在同一系统内。探测极限由局部估计的背景噪声导出，对应上面目标检测使用的同一 S/N 水平。
          </p>
          <p>
            Overlay controls allow to adjust the scaling and stretching of the sub-images, and to turn on the reticle marking the target position in them.
          </p>
          <p>
            Cutout 下方的链接可下载包含所有 cutout 的单个多扩展 FITS 文件，以及头部中的暂现源位置信息和元数据。
          </p>
        </span>
      </h3>

      {% paginate step candidates %}

      {% for cand in candidates %}
        <div class="row text-center">
          {% include "task_block_image.html" with image=cand.cutout_name task=task ra=cand.ra dec=cand.dec cand=cand only %}
        </div>
      {% endfor %}

      {% show_pages %}

    {% else %}
      未找到暂现源候选体
    {% endif %}

  {% endif %}

{% endblock %}
