{% extends "template.html" %}

{% load tags %}
{% load filters %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'selectareas/jquery.selectareas.css' %}">
  <script src="{% static 'selectareas/jquery.selectareas.js' %}"></script>

  {% if areas %}
    {{ areas|json_script:"areas-data" }}
  {% endif %}

  <script language="javascript">
   $(function(){
     $('#image').selectAreas({
       onChanged: $.noop,    // fired when a selection is released
       onChanging: $.noop,    // fired during the modification of a selection});
       overlayOpacity: 0.5,
       {% if areas %}
       areas: JSON.parse(document.getElementById('areas-data').textContent),
       {% endif %}
     });
   });

   $(function(){
     $("#form").on("submit", function(event) {
       var img = $('#image');

       $('#form_width').val(img.prop('width'));
       $('#form_height').val(img.prop('height'));
       $('#form_areas').val(JSON.stringify(img.selectAreas('areas')));

       /* event.preventDefault(); */
     });
   });

   adjust_selections = function(){
     var $img = $('#image');

     if ($('#inverted').prop('checked')) {
       $img.selectAreas('options', {
         blurred: false,
         overlayOpacity: 0.0,
         outlineColor: 'red',
         outlineOpacity: 1.0,
         selectionOpacity: 0.5,
       });
       $img.selectAreas('blurAll'); // Needed for outlineColor to take effect
     } else {
       $img.selectAreas('options', {
         blurred: true,
         overlayOpacity: 0.5,
         outlineColor: '',
         outlineOpacity: 0.5,
         selectionOpacity: 1.0,
       });
       $img.selectAreas('blurAll'); // Needed for outlineColor to take effect
     }
   }

   $(function(){
     $('#inverted').on('change', function(){
       adjust_selections();
     });
     $('#image').on('loaded', function(){
       adjust_selections();
     });
   });

  </script>

{% endblock %}

{% block title_div %}{% endblock %}

{% block content %}

  {% if not task %}
    <p>未找到任务</p>
  {% else %}

    <h2>
      <a href="{% url 'tasks' id=task.id %}" class="text-decoration-none text-body me-2"
         title="返回任务页">
        <span class="fa fa-angle-left"/>
      </a>

      {% if mode == 'template' %}
        为任务 {{ task.id }} 创建自定义模板掩模
      {% else %}
        为任务 {{ task.id }} 创建自定义掩模
      {% endif %}
    </h2>

    <p class="text-muted">
      通过点击并拖拽框选来定义可用图像区域。
    </p>

    <div class="mb-2 image-decorator">
      <img src="{% url 'task_preview' id=task.id path=image_file %}?width=1024&timestamp={{ task.completed|unix }}" class="img-fluid" alt="{{ image_file }}" id="image" data-stretch/>
    </div>

    <div class="mb-4">
      <form action="" method="POST" id="form">
        {% csrf_token %}
        <input type="hidden" name="width" id="form_width"/>
        <input type="hidden" name="height" id="form_height"/>
        <input type="hidden" name="areas" id="form_areas"/>

        <div class="form-check form-check-inline" title="选中区域将被掩模为不可用">
          <input class="form-check-input"  type="checkbox" name="inverted" id="inverted" {% if inverted %}checked{% endif %}/>
          <label class="form-check-label" for="inverted">掩模选中区域</label>
        </div>

        <button class="btn btn-primary">创建掩模</button>
        <button class="btn btn-secondary" onclick="$('#image').selectAreas('reset')">清除</button>
      </form>
    </div>

  {% endif %}

{% endblock %}
